@import "main.css";
@import "template.css";

@font-face {
    font-family: 'theboldfont';
    src: url(../../../assets/fonts/theboldfont.ttf);
}

#bg {
    background-image: url("../img/jpg/skieur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#bg h1, p {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}