@import "main.css";
@import "template.css";

@font-face {
    font-family: 'theboldfont';
    src: url(../fonts/theboldfont.ttf);
}

#bg {
    background-image: url("../img/jpg/skieur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}